html {
  font-family: sans-serif;
}

h1 {
    font-family: 'sans-serif', cursive;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

ul {
    font-family: 'sans-serif', cursive;
    font-size: 2rem;
}

tagLine {
    font-family: 'sans-serif', cursive;
    font-size: 1rem;
}

blurb {
    font-family: 'sans-serif', cursive;
    font-size: 0.5rem;
}